$blockquote-border-color: rgba(0, 0, 0, .0625) !default;
$code-background-color: #f0f0f0 !default;
$img-border-color: #dcdcdc !default;
$read-more-color: lighten($font-color, 50);
$tag-background-color: #f5f5f5;
$tag-border-color: #f0f0f0;
$tag-font-color: lighten($font-color, 30);

.Article {
  border-bottom: 1px solid $separator-color;
  overflow: auto;
  padding-bottom: 1.5em;
  padding-top: 2.5em;
  position: relative;

  .is-fullEntry & {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.Article-title {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -.0230em;
  line-height: 1.12;
  margin: 0 0 .367em;
}

.Article-titleLink {
  color: $font-color;
  display: block;
  text-decoration: none;
}

.Article-meta {
  border-top: 1px solid $separator-color;
  color: $secondary-font-color;
  display: block;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  padding-top: .8rem;
}

.Article-content {
  font-family: map-get($font-family, georgia);
  font-size: 1.12rem;
  letter-spacing: -.004em;
  line-height: 1.5;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: map-get($font-family, roboto);
    padding-top: 16px;
  }

  a {
    color: $link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    border-left: 2px solid $blockquote-border-color;
    color: lighten($font-color, 20);
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 1.5rem;
  }

  code {
    background: $code-background-color;
    padding: 0 .3em;
    word-wrap: break-word;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  img {
    border: 2px solid $img-border-color;
    height: auto;
  }

  ul {
    padding-left: 20px;
  }

  li {
    margin-bottom: 10px;
  }

  pre {
    font-size: 1rem;
    padding: .63em;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  @media screen and (min-width: 620px) {
    font-size: 1.3rem;

    pre {
      font-size: 1.1rem;
    }
  }

}

.Article-footer {
  margin: 0;

  .Article-readmore {
    bottom: 1em;
    color: $read-more-color;
    font-family: map-get($font-family, roboto);
    font-size: .75rem;
    font-weight: 500;
    position: absolute;
    right: 1em;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.Article-comments {
  padding-bottom: 1em;
  padding-top: 2.5em;
}

.Article-tags {
  margin: 2em 0 2.5em;
}

.Article-tagLabel {
  display: none;
}

.Article-tagLink {
  background: $tag-background-color;
  border: 1px solid $tag-border-color;
  border-radius: 4px;
  color: $tag-font-color;
  display: inline-block;
  font-size: .9rem;
  margin: 0 .5em .5em 0;
  padding: .6em;
  text-decoration: none;
}
